
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #BE5A83;
    color: rgb(247,240,223);
    width: 100%;
}
.info-container{
    display: flex;
    align-items: center;
}

.img-logo{
    width: 100px;
}

.title{
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 900;
}

.anuncio{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #F2B6A0;
    font-size: 0.9rem;
    padding: 3px;
    font-family: 'Poppins', sans-serif;
}

.dat-container{
    display: flex;
    gap: 1.8rem;
    font-family: 'Poppins', sans-serif;
    margin: auto;
    font-size: 1.2rem;
    font-weight: 500;
}